<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <h1>Create Account</h1>
    <form method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="first_name">First Name:</label><br>
                    <input type="text" name="first_name" id="first_name" required>
                </td>
                <td>
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" name="last_name" id="last_name">
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" id="email" size="58">                   
                </td>
            </tr>

            <tr>
                <td>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password">                   
                </td>
                <td>
                    <label for="confirm_password">Confirm Password:</label><br>
                    <input type="password" name="confirm_password" id="confirm_password">                   
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="gender">Gender:</label><br>
                    <input type="radio" name="gender" id="male" value='Male'>Male
                    <input type="radio" name="gender" id="female" value='Female'>Female
                </td>
                <td>
                    <label for="hobbies">Hobbies:</label><br>
                    <input type="checkbox" name="hobbies" id="male" value='Music'>Music
                    <input type="checkbox" name="hobbies" id="female" value='Sports'>Sports
                    <input type="checkbox" name="hobbies" id="female" value='Travel'>Travel
                    <input type="checkbox" name="hobbies" id="female" value='Movies'>Movies
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="source_of_income">Source of Income:</label><br>
                    <select name="source_of_income" id="source_of_income">
                        <option value="Employed">Employed</option>
                        <option value="Student">Student</option>
                        <option value="Business">Business</option>
                        <option value="Others">Others</option>
                    </select>                   
                </td>
                <td>
                    <label for="income">Income:</label><br>
                    <input type="range" id="income" name="income" min="0" max="100" value="20"
                        oninput="document.getElementById('incomeValue').textContent = this.value">
                    <span id="incomeValue">20</span>K                 
                </td>
            </tr>

            <tr>
                <td>
                    <label for="profile_pic">Upload Profile Pic:</label><br>
                    <input type="file" name="profile_pic" id="profile_pic" value="Choose File">
                </td>
                <td>
                    <label for="age">Age:</label><br>
                    <input type="number" name="age" id="age" value="18">
                </td>
            </tr>
                <td colspan="2">
                    <label for="bio">Bio:</label><br>
                    <textarea id="bio" name="bio" rows="5" cols="56" placeholder=""></textarea>

                </td>
            <tr>

            <tr>
                <td colspan="2">
                    <div style="display: flex; justify-content: flex-end;">
                        <button type="submit">Submit</button>
                    </div>
                </td>
            </tr>

        </table>



    </form>
</body>
</html>